.Todo {
    margin-bottom: 1rem;
    border-bottom: 3px solid white;
    padding-bottom: 30px;   

    &__Forms {
        display: flex;
        flex-direction: column;
        gap: 5px;

        button {
            height: 30px;
        }

    }
}